<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do Liste</title>
    <link href="/stylesheets/fontawesome-all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/task.css">
    
</head>
<body>
<% include ../partials/navbarTop %>
<h1>To-Do Liste Bearbeiten</h1>
<hr>
  <div class="row">
     <form action="/todo" method="post">
      <div class="task">      
          <input type="text" class="newTask" name="todo[project]" value="<%= todo.project %>">
          <hr>
          <input type="text" class="newTask" name="todo[description]" value="<%= todo.description %>">
          <input type="text" class="newTask" name="todo[result]" value="<%= todo.result %>">
          <p><input type="submit" ></p>
      </div>
    </form>
    
    <div class="task">
    <form action="/todo/<%= todo._id %>/tasks" method="post" id="addTaskForm">
        <h3>Aufgaben-Bereich</h3>
        <hr>
        <ul>
          <% for (var i=0; i< tasks.length;i++){ %>
            <li><%= tasks[i].task %></li>
          <% } %>
          
        </ul>
        
        <input type="text" class="taskName" placeholder="Neue Aufgabe">
        <span class="addTask"><i class="fas fa-plus"></i></span>
        <input type="submit"></button>
         </form>
    </div>
 
    <form action="/todo" method="post">
      <div class="task">      
          <h3>Info</hr>
          <hr>
          <input type="text" class="newTask" name="task[deadline]" placeholder="fällig am">
          <p class="date">erstellt am:
          <%= todo.created.getDate() %>.
          <%= todo.created.getMonth() %>.
           <%= todo.created.getYear() +1900 %>
          </p>
          <p><input type="submit" disabled></p>
      </div>
    </form>
  </div>
<% include ../partials/footer %>
