<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Digital Art Gallerie</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Joti+One" >
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700,700i" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/composition.css">
</head>
<body>
<% include ../partials/navbarTop %>
  <div class="row">
    <div class="col-md-2">
      <% include ../partials/magazin %>
      <hr>
      <% include ../partials/todos %>
    </div>

    <div class="col-md-8">
      
      <% if (!painting.image){ %>
        <img src="/images/winkenderPanda.jpg" class="img-responsive img-composition">
      <% }else{ %>
        <img src="/images/paintings/<%= painting._id %>/<%= painting.image %>" class="img-thumbnail">
      <% } %>
      
      <div class="caption">
        <h4>
          <%= painting.name %>
          <span class="date ">
          <%= painting.created.getDate() %>.
          <%= painting.created.getMonth() %>.
          <%= painting.created.getYear() +1900  %>
          </span>
        </h4>
        <p class="compText"><%= painting.description %></p>
        <% comments.forEach(function(comment){ %>    
        <div class ="row">
         <div class="col-md-8">
           <%= comment.author%>
           <span class="pull-right">10 days ago</span>
           <p class="compText"><%= comment.comment %></p>
         </div>
        </div>
        <% });%>
        </div>
      <form method="post" action="/corel/<%= painting._id %>?_method=DELETE""
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
            Neuer Kommentar
          </button>
            <button class="btn btn-primary" type="submit">
              Eintrag löschen
            </button>
            <a href="/painting/<%= painting._id %>/edit" class="btn btn-primary" type="button">
              Eintrag bearbeiten
            </a>
          </form>
        </p>
        <div class="collapse" id="collapseComment">
          <div class="card card-body">
            <form method="post" action="/painting/<%= painting._id  %>/comments">
              <textarea id="newComment" rows="5" cols="100" name="comment[comment]"></textarea>
              <button class="btn btn-primary" name="comment[corelID]" value="<%=painting._id  %>" type="submit">Speichern</button>
            </form>
          </div>
        </div>
    </div>
    
    <div class="col-md-2">
      <% include partials/template%>
      <hr>
      <% include partials/history %> 
    </div>
  </div>


<div class="footer">Trademark 2018 Groefics</div>

<script src="/javascript/jQuery_3_2_1.js"></script>
<script src="/javascript/composition.js"></script>

<script src="/javascript/bootstrap.js"></script>
</body>
</html>
