<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Blender Gallerie</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Joti+One" >
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700,700i" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/composition.css">
</head>
<body>

<% include ../partials/navBarTop %>

  <div class="row">
    <div class="col-md-2">
      <h2>Kategorien</h2>
      <ul>
        <li>Hier entsteht eine Auflistung der Kategorien</li>

      </ul>
      <h2>über Blender</h2>
      <ul>
        <li>Post </li>
        <li>aus der anotherberrydb</li>
        <li>und Bildern aus PPT</li>
       </ul>
    </div>
    
    <div class="col-md-8">
      <div class="container">
        <header class="jumbotron">
          <div class="container">
            <h1> Blender Gallerie</h1>
            <p>Meine persönliche Digital Art Gallery</p>
            <a href="/composition/new" class="btn btn-large" >Neues Bild hinzufügen</a>
          </div>  
        </header>
        <div class="row text-center">
          <% composition.forEach(function(entry){ %>
             <div class="col-md-3 col-sm-6">
                <img src="/images/compositions/<%= entry.image %>" class="img-thumbnail">
                <div class="caption">
                  <%= entry.name %>
                </div>
                <p><a href="/composition/<%=entry._id %>" class="btn btn-primary" >Details</a></p>
            </div>
           <% }); %>
            <div class="col-md-3 col-sm-6">
              <div id="dropzone">
                <a href="/composition/new">
                <img src="images/winkenderPanda.jpg" class="img-thumbnail">
                <div class="caption">
                  Neues Bild hinzufügen</a>
                </div>
              </div>
            </div>
        </div> 
        
      </div>
    </div>
    
    <div class="col-md-2">
        <h2>Links</h2>
        <ul>
          <li>Liste in der </li>
          <li>Datebank erstellen</li>
          <li>und mit</li>
          <li>Projekt verknüpfen</li>
        </ul>
        <h2>externe Tutorials</h2>
        <ul>
          <% tutorials.forEach(function(tutorial){ %>
          <li><a href="<%= tutorial.url %>" target="_blank"><%= tutorial.name %></a> </li>
          <% }); %>


        </ul>
    </div>
  </div>


<div class="footer">Trademark 2018 Groefics</div>

<script src="/javascript/jQuery_3_2_1.js"></script>
<script src="/javascript/composition.js"></script>

<script src="/javascript/bootstrap.js"></script>
</body>
</html>
