
  <div class="col-md-3">
     <div id="accordion">

   <% for (var i = 0, z=0; i < cms.length; i++,z++){ %>

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0"> 
         
         <button class="btn btn-link btnCMSMain" data-toggle="collapse" data-target="#collapse<%= z %>" aria-expanded="true" aria-controls="collapse<%= z %>">
          <%= cms[i].name %>
        </button>
        <button class="btn btnModal" type="button" >
          <span data-toggle="modal" data-target="#cmsModal<%=z %>"><i class="fas fa-pen-square"></i></span>
        </button>

      </h5>
    </div>
<!-- Modal CMS-->
          <div class="modal fade" id="cmsModal<%=z %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%= cms[i].name %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <form method="post" action="cms/<%= cms[i]._id %>/edit">
                 Beschreibung:
                 <textarea rows=3 cols=50 name="cms[description]"><%= cms[i].description %></textarea>
                 
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                  <button type="button" class="btn btn-primary">Speichern</button>
                </div>
              </div>
            </div>
          </div>          
  <!-- Modal CMS ENDE--> 
    <div id="collapse<%= z %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">    
       
       <div class="btnDropzone">
         Dropzone Dummy
       </div>
       <% for (var j = 0; j< cmsUnit.length;j++){z++;  %>
         <% if (JSON.stringify(cms[i]._id) == JSON.stringify(cmsUnit[j].cmsID)){ %>
          <span>
            <button class="btn btnUnitName" type="button" data-toggle="collapse" data-target="#collapse<%= z %>" aria-expanded="false" aria-controls="collapse<%= z %>" draggable="true">
             <%= cmsUnit[j].name %>
           </button>
          <button class="btn btnModal" type="button" >
            <span data-toggle="modal" data-target="#unitModal<%=z %>"><i class="fas fa-pen-square"></i></span>
          </button>
          </span>
<!-- Modal CMSUNIT-->
          <div class="modal fade" id="unitModal<%=z %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"><%= cmsUnit[j].name %></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                <form method="post" action="cmsUnit/<%= cmsUnit[j]._id %>/edit">
                 Beschreibung:
                 <textarea rows=3 cols=50 name="cmsUnit[description]"><%= cmsUnit[j].description %></textarea>
                 <p><%= cmsUnit[j].created %></p>
                </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Schließen</button>
                  <button type="button" class="btn btn-primary">Speichern</button>
                </div>
              </div>
            </div>
          </div>          
  <!-- Modal CMSUNIT ENDE-->        
          <div class="btnDropzone">
            Dropzone Dummy
          </div> 
         
        <div class="collapse" id="collapse<%= z %>">
          <div class="card card-body">
          <% for (var k=0;k< cmsPost.length;k++,z++){ %>
           <% if (JSON.stringify(cmsUnit[j]._id) == JSON.stringify(cmsPost[k].cmsUnitID)){ %>
          <a href="/cms/<%=cms[i]._id%>/cmsUnit/<%=cmsUnit[j]._id%>/<%=cmsPost[k]._id%>/edit" class="btn btn-primary btnPostName">
            <%= cmsPost[k].name %>
          </a>
           <% } %>      
          <% z++;} %>
        <p>
          <button class="btn btn-primary btnPostName" type="button" data-toggle="collapse" data-target="#collapseNewPost<%= z %>" aria-expanded="false" aria-controls="collapseNewPost<%= z %>">
            Neuer Post
          </button>
        </p>
        <div class="collapse" id="collapseNewPost<%= z %>">
          <div class="card card-body">
            <form action="/cms/<%= cms[i]._id %>/cmsUnit/<%=cmsUnit[j]._id %>/cmsPost" method="post">
                <input type="text" placeholder="Neuer Post" name="cmsPost[name]">
                <input type="text" value="<%= cmsUnit[j]._id %>" name="cmsPost[cmsUnitID]" hidden>
                <input type="submit">
            </form>
          </div>
        </div>


          </div>
        </div> 
       <% } %>
       <%  z++;} %>
        <p>
          <button class="btn btn-primary btnUnitName" type="button" data-toggle="collapse" data-target="#collapseNewUnit<%= z %>" aria-expanded="false" aria-controls="collapseNewUnit<%= z %>">
            Neuer Abschnitt
          </button>
        </p>
        <div class="collapse" id="collapseNewUnit<%= z %>">
          <div class="card card-body">
            <form action="/cms/<%= cms[i]._id %>/cmsUnit" method="post">
                <input type="text" placeholder="Name" name="cmsUnit[name]">
                <input type="text" placeholder="Beschreibung" name="cmsUnit[description]">
                <input type="text" value="<%= cms[i]._id %>" Post" name="cmsUnit[cmsID]" hidden>
                <input type="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   <% z++;} %>
        

  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link btnCMSMain collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Neuer Bereich
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <form action="/cms" method="post">
            <input type="text" placeholder="Name" name="cms[name]">
            <input type="text" placeholder="Beschreibung" name="cms[description]">
            <input type="text" placeholder="Bild" name="cms[image]">
            <input type="submit">
        </form>
      </div>
    </div>
  </div>
 </div>
</div> 
