
  <div class="col-md-3">
     <div id="accordion">

   <% for (var i = 0, z=0; i < cms.length; i++){ %>

    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0"> 
         <button class="btn btn-link" data-toggle="collapse" data-target="#collapse<%= z %>" aria-expanded="true" aria-controls="collapse<%= z %>">
          <%= cms[i].name %>
        </button>
      </h5>
    </div>

    <div id="collapse<%= z %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
       <% for (var j = 0; j< cmsUnit.length;j++){ z++; %>

        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse<%= z %>" aria-expanded="false" aria-controls="collapse<%= z %>">
            <%= cmsUnit[j].name %>
          </button>
        </p>
        <div class="collapse" id="collapse<%= z %>">
          <div class="card card-body">
          <%= cmsUnit[j].description %>
          </div>
        </div>
       
       <% z++; } %>
       
       
       
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Neuen Abschnitt hinzufügen
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <form action="/cms/<%= cms[i]._id %>/cmsUnit" method="post">
                <input type="text" placeholder="Name" name="cmsUnit[name]" disabled>
                <input type="text" placeholder="Beschreibung" name="cmsUnit[description]" disabled>
                <input type="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
   <% } %>
        

  
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Neuen Bereich hinuzfügen
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <form action="/cms" method="post">
            <input type="text" placeholder="Name" name="cms[name]">
            <input type="text" placeholder="Beschreibung" name="cms[description]">
            <input type="text" placeholder="Bild" name="cms[image]">
            <input type="submit">
        </form>
      </div>
    </div>
  </div>
 </div>
</div> 
