<h2>nächste Schritte</h2>
<div class="gallery">
 
 <% if ( todo == null){ %>
  <ul id="todoList">
 <% }else{ %>
 <ul id="todoList"  data-value="<%= todo._id%>">
  <% for (var i = 0; i < tasks.length;i++){ %>
   <li>
    <% if (tasks[i].status=="open"){ %>
    <% console.log("open"); %>
     <input type='checkbox' class='form-check-input ckTasks' data-id="<%= tasks[i]._id %>" id='ckTask<%= i %>'>
    <% }else{ %>
    <% console.log("closed"); %>
     <input type='checkbox' checked class='form-check-input ckTasks' data-id="<%= tasks[i]._id %>" id='ckTask<%= i %>'>
    <% } %>
    
    <span id="spTask<%= i %>"><%= tasks[i].task %></span>
    <button type="button" class="btn btnEditTask"
            data-id="<%= tasks[i]._id %>"
            data-toggle="modal"
            data-target="#editTaskModal">
     <i class='fa fa-edit editTask'></i>
    </button>
    
  <% } %>
 <% } %>
 </ul>
 <% if (typeof tasks == undefined  ){ %>
   <% console.log("tasks vorhanden"); %> 
 <% }else{ %>
  <input type="text" id="todo"  class="modalInput" data-value="<%= corel._id.toString() %>" name="task" placeholder="Neue Aufgabe"> 
 <%  } %>
 
</div>


<!-- Modal zum Bearbeiten eines Task-Eintrags-->
<div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Task</h5><input type="text" id="modalTaskTitle" >
      </div>
      
      <div class="modal-body">
       <form action="saveTaskData/id" method="post" id="formEditTask">
        Beschreibung:
        <textarea rows="4" cols="50" name="taskDescription"></textarea>
        
        
      </form>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
     
    </div>
  </div>
</div>

